body {
  .slide {

    ul {
      margin: 40px 0 0;
      padding: 0;
      list-style: none;
      clear: both;
      display: block;
      overflow: hidden;

      li {
        margin: 0;
        padding: 0;
        list-style: none;
        display: inline;

        a {
          &.twitter {
            &:hover {
              svg {
                fill: #1da1f2;
              }
            }
          }

          &.facebook {
            &:hover {
              svg {
                fill: #3b5998;
              }
            }
          }

          &.rss {
            &:hover {
              svg {
                fill: #f26522;
              }
            }
          }

          &.googleplus {
            &:hover {
              svg {
                fill: #dd4b39;
              }
            }
          }
        }

        svg {
          width: 22px;
          height: 22px;
          fill: #777;
        }
      }
    }

    svg {
      width: 22px;
      height: 22px;
      margin-right: 4px;

      &.google-plus {
        width: 30px;
      }
    }

    &.slide-hero {
      @include background-cover();
      background-image: url('../images/bg.jpg');
      background-color: #fff;
      text-align: center;
      height: 100vh;

      .container {
        @include vertical-align();

        h1,
        p {
          color: $color-main;
        }

        h1 {
          margin-top: 0;
          margin-bottom: 20px;

          svg {
            margin: 15px auto 0;
            width: 300px;
            height: auto;
          }
        }

        p {
          margin: 0;
          font-family: $font-headings;
          font-weight: 700;
        }
      }
    }
  }

  form {
    margin-top: 30px;

    input {
      font-family: $font-base;
      background: #fdfdfd;
      border: 1px solid #aaa;
      padding: 10px 20px;
      line-height: 24px;
      transition: all .55s;
      text-decoration: none;
      position: relative;
      appearance: none;
      margin-bottom: 0;
      border-radius: 2px;
      display: inline;
      width: 100%;
      max-width: 400px;

      @media (max-width: 700px) {
        width: 50%;
      }

      @media (max-width: 480px) {
        width: 100%;
      }

      &::placeholder {
        color: #888;
        opacity: 1;
      }

      &:focus {
        border-color: rgba(#222, 1);
        outline: 0;

        &::placeholder {
          color: #222;
          opacity: 1;
        }
      }

      &[type="submit"] {
        background: $color-main;
        color: #fff;
        width: auto;
        border-color: $color-main;
        border-radius: 2px;

        @media (max-width: 480px) {
          width: 100%;
        }
      }
    }
  }
}
